body {
background-image: url(../css/img/paisaje\ en\ viaje.jpeg);
width: 100%;
    padding-top: 14px;
    
}



h2 {
    color: white;
}

h3 { 
    color: rgb(216, 248, 33);
}
p {
    font-style: oblique;


}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
.card-group{
   width: 100%;  
}
   
